**About the dataset**

WAQI project data-set is updated 3 times a day, and covering about 380 major cities in the world.

The data for each major cities is based on the average (median) of several stations. The data set provides min, max, median and standard deviation for each of the air pollutant species (PM2.5,PM10, Ozone ...) as well as meteorological data (Wind, Temperature, ...).

All air pollutant species are converted to the US EPA standard (i.e. no raw concentrations). All dates are UTC based.

The count column is the number of samples used for calculating the median and standard deviation.

The city-median value is computed per day using all AQI values for available stations.

More Info: https://aqicn.org/data-platform/covid19/

**WORKING STEPS OF THE WITH DATASET**


1.   Group the content of the dataset based on date, country and city(4 dataset separately)

*   Each unique specie will become new column
*   Values of species if found duplicate max value all be assigned among the values


2.   Combine 4 dataframe into one
3.   Export the combine dataset

***Additional Information***

01/01/2024 - 31-12-2024


Dataset 1 starting and end date(mm/dd/yyyy) : 12/26/2022-4/2/2023

Dataset 2 starting and end date(mm/dd/yyyy) : 3/27/2023-7/2/2023

Dataset 3 starting and end date(mm/dd/yyyy) : 6/26/2023-10/1/2023

Dataset 4 starting and end date(mm/dd/yyyy) : 9/25/2023-12/31/2023


2023:

12/26/2022-4/2/2023

3/27/2023-7/2/2023

6/26/2023-10/1/2023

9/25/2023-12/31/2023

2022:

3/28/2022-7/3/2022

6/27/2022-10/2/2022

9/26/2022-1/1/2023

2021:

12/28/2020-4/4/2021

3/29/2021-7/4/2021

6/28/2021-10/3/2021

9/27/2021-1/2/2022

2020:

12/30/2019-4/5/2020

3/30/2020-7/5/2020

6/29/2020-10/4/2020

9/28/2020-1/3/2021

2019:

12/31/2018-3/31/2019

4/1/2019-6/30/2019

7/1/2019-10/6/2019

9/30/2019-1/5/2020

2018:

1/1/2018-7/1/2018

2017:

12/26/2016-7/2/2017

2016:

12/28/2015-7/3/2016

2015:

12/29/2014-7/5/2015

In [1]:
import pandas as pd
import numpy as np

# 2024

In [2]:
# Load the dataset into a DataFrame
raw_data_2024 = pd.read_csv(r'/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2025.csv')

# print the shape
print(raw_data_2024.shape)

#runs the first 5 rows
raw_data_2024.head()

(1048571, 5)

         Date Country         City Specie  median
0    8/4/2024      ET  Addis Ababa    dew    14.0
1  11/17/2024      ET  Addis Ababa    dew     1.0
2    1/1/2025      ET  Addis Ababa    dew     6.0
3    7/8/2024      ET  Addis Ababa    dew    13.0
4   1/29/2024      ET  Addis Ababa    dew    11.0

In [3]:
# Convert 'Date' to datetime
raw_data_2024['Date'] = pd.to_datetime(raw_data_2024['Date'])

In [4]:
raw_data_2024.shape

(1048571, 5)

In [5]:
# Pivot the data
data_df_2024 = raw_data_2024.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [6]:
print(data_df_2024.shape)
data_df_2024.head()

(105139, 21)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2024-01-01,AE,Abu Dhabi,NaN,0.1,19.0,73.0,NaN,NaN,8.1,...,50.0,53.0,NaN,1017.0,4.2,24.0,NaN,NaN,NaN,3.0
1,2024-01-01,AE,Dubai,NaN,2.2,18.0,65.0,NaN,NaN,8.1,...,39.0,74.0,NaN,1017.0,3.7,25.0,NaN,NaN,NaN,3.6
2,2024-01-01,AR,Buenos Aires,NaN,1.9,15.8,63.0,NaN,NaN,4.6,...,14.0,34.0,99.0,1011.5,2.6,24.2,NaN,67.5,9.1,3.3
3,2024-01-01,AT,Graz,NaN,0.1,2.9,93.0,NaN,NaN,6.0,...,9.0,25.0,1.2,1011.3,1.1,3.5,NaN,NaN,2.8,1.0
4,2024-01-01,AT,Innsbruck,NaN,0.1,1.8,92.1,NaN,NaN,11.9,...,16.0,NaN,0.4,1006.2,0.6,1.1,NaN,NaN,5.8,2.1

In [7]:
data_df_2024.isnull().sum()

Specie
Date                  0
Country               0
City                  0
aqi              100279
co                41010
dew               19393
humidity           1879
mepaqi           104901
neph             104390
no2               19293
o3                34967
pm10              19230
pm25              13083
precipitation     91681
pressure           1887
so2               32639
temperature        1606
uvi              101739
wd                98975
wind-gust         54471
wind-speed         2508
dtype: int64

# 2023_Q1

In [8]:
# Loading the data
raw_data_2023_Q1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2023Q1.csv")

# print the shape
print(raw_data_2023_Q1.shape)

#runs the first 5 rows
raw_data_2023_Q1.head(10)

(553335, 5)

        Date Country    City       Specie  median
0   4/1/2023      BH  Manama     pressure  1014.3
1   4/2/2023      BH  Manama     pressure  1015.7
2  3/27/2023      BH  Manama     pressure  1011.7
3  3/28/2023      BH  Manama     pressure  1013.5
4  3/29/2023      BH  Manama     pressure  1014.4
5  3/30/2023      BH  Manama     pressure  1013.0
6  3/31/2023      BH  Manama     pressure  1009.1
7   4/2/2023      BH  Manama         pm25    25.0
8  3/27/2023      BH  Manama  temperature    24.6
9  3/28/2023      BH  Manama  temperature    23.8

In [9]:
# Convert 'Date' to datetime
raw_data_2023_Q1['Date'] = pd.to_datetime(raw_data_2023_Q1['Date'])

In [10]:
raw_data_2023_Q1.shape

(553335, 5)

In [11]:
# Pivot the data
data_df_2023_Q1 = raw_data_2023_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [12]:
print(data_df_2023_Q1.shape)
data_df_2023_Q1.head()

(54535, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-12-26,AE,Abu Dhabi,NaN,0.1,16.0,72.0,NaN,NaN,9.0,...,36.0,65.0,NaN,1016.0,5.4,21.0,NaN,NaN,1.5,2.0
1,2022-12-26,AE,Dubai,NaN,NaN,15.0,68.0,NaN,NaN,NaN,...,NaN,87.0,NaN,1016.0,NaN,21.0,NaN,NaN,NaN,3.0
2,2022-12-26,AR,Buenos Aires,NaN,1.7,10.5,58.0,NaN,NaN,7.4,...,34.0,NaN,NaN,1013.7,3.6,23.5,NaN,67.5,2.5,1.0
3,2022-12-26,AT,Graz,NaN,0.1,0.6,75.5,NaN,NaN,9.6,...,17.0,63.0,NaN,975.1,1.6,3.1,NaN,NaN,NaN,1.0
4,2022-12-26,AT,Innsbruck,NaN,0.1,1.2,92.5,NaN,NaN,9.2,...,8.0,NaN,NaN,954.1,0.6,2.7,NaN,NaN,7.2,2.0

In [13]:
data_df_2023_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              53716
co               20563
dew              10232
humidity           192
mepaqi           54437
neph             54339
no2               9381
o3               12986
pm1              54255
pm10              9970
pm25              6880
precipitation    48004
pressure           324
so2              16332
temperature        106
uvi              53557
wd               50771
wind-gust        25751
wind-speed        1034
dtype: int64

# 2023_Q2

In [14]:
# Loading the data
raw_data_2023_Q2 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2023Q2.csv")

# print the shape
print(raw_data_2023_Q2.shape)

#runs the first 5 rows
raw_data_2023_Q2.head(10)

(564703, 5)

        Date Country     City    Specie  median
0   4/4/2023      DZ  Algiers  pressure  1014.0
1  4/25/2023      DZ  Algiers  pressure  1016.0
2  5/25/2023      DZ  Algiers  pressure  1015.5
3  3/27/2023      DZ  Algiers  pressure  1021.0
4  3/31/2023      DZ  Algiers  pressure  1020.0
5  4/14/2023      DZ  Algiers  pressure  1017.0
6  4/30/2023      DZ  Algiers  pressure  1016.0
7  5/18/2023      DZ  Algiers  pressure  1015.0
8  6/11/2023      DZ  Algiers  pressure  1014.0
9  6/24/2023      DZ  Algiers  pressure  1018.0

In [15]:
# Convert 'Date' to datetime
raw_data_2023_Q2['Date'] = pd.to_datetime(raw_data_2023_Q2['Date'])

In [16]:
raw_data_2023_Q2.shape

(564703, 5)

In [17]:
# Pivot the data
data_df_2023_Q2 = raw_data_2023_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [18]:
print(data_df_2023_Q2.shape)
data_df_2023_Q2.head()

(55730, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2023-03-27,AE,Abu Dhabi,NaN,0.1,16.0,53.0,NaN,NaN,13.6,...,94.0,85.0,NaN,1009.0,6.3,26.0,NaN,NaN,3.5,3.6
1,2023-03-27,AE,Dubai,NaN,NaN,14.0,38.0,NaN,NaN,NaN,...,NaN,89.0,NaN,1010.0,NaN,28.0,NaN,NaN,NaN,3.6
2,2023-03-27,AR,Buenos Aires,NaN,3.5,12.7,64.8,NaN,NaN,11.0,...,27.0,NaN,NaN,1015.7,4.6,21.4,NaN,67.5,5.5,2.5
3,2023-03-27,AT,Graz,NaN,0.1,-0.2,52.3,NaN,NaN,3.2,...,7.0,19.0,0.5,964.0,1.1,7.2,NaN,NaN,NaN,3.0
4,2023-03-27,AT,Innsbruck,NaN,0.1,1.5,77.4,NaN,NaN,6.4,...,4.0,NaN,0.4,1001.9,0.6,3.3,NaN,NaN,11.6,6.1

In [19]:
data_df_2023_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              54358
co               21724
dew              11112
humidity           206
mepaqi           55632
neph             55534
no2               9257
o3               12462
pm1              55479
pm10             10038
pm25              7057
precipitation    49911
pressure           391
so2              17226
temperature        150
uvi              54759
wd               51871
wind-gust        25758
wind-speed        1242
dtype: int64

# 2023_Q3

In [20]:
# Loading the data
raw_data_2023_Q3 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2023Q3.csv")

# print the shape
print(raw_data_2023_Q3.shape)

#runs the first 5 rows
raw_data_2023_Q3.head(10)

(255419, 5)

        Date Country      City Specie  median
0  7/20/2023      JP  Kumamoto    so2     1.5
1  8/12/2023      JP  Kumamoto    so2     1.5
2  8/23/2023      JP  Kumamoto    so2     1.5
3  8/25/2023      JP  Kumamoto    so2     1.5
4  9/13/2023      JP  Kumamoto    so2     1.5
5  9/11/2023      JP  Kumamoto    so2     1.5
6  6/30/2023      JP  Kumamoto    so2     1.5
7   7/1/2023      JP  Kumamoto    so2     1.5
8   7/2/2023      JP  Kumamoto    so2     1.5
9   7/5/2023      JP  Kumamoto    so2     1.5

In [21]:
# Convert 'Date' to datetime
raw_data_2023_Q3['Date'] = pd.to_datetime(raw_data_2023_Q3['Date'])

In [22]:
raw_data_2023_Q3.shape

(255419, 5)

In [23]:
# Pivot the data
data_df_2023_Q3 = raw_data_2023_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [24]:
print(data_df_2023_Q3.shape)
data_df_2023_Q3.head()

(25197, 21)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm1,pm10,pm25,precipitation,pressure,so2,temperature,wd,wind-gust,wind-speed
0,2023-06-26,AE,Abu Dhabi,NaN,0.1,24.0,56.0,NaN,NaN,6.4,...,NaN,72.0,99.0,NaN,996.0,4.4,32.0,NaN,NaN,3.0
1,2023-06-26,AE,Dubai,NaN,NaN,26.0,53.0,NaN,NaN,NaN,...,NaN,NaN,102.0,NaN,995.0,NaN,37.0,NaN,NaN,3.6
2,2023-06-26,AR,Buenos Aires,NaN,5.7,12.4,86.0,NaN,NaN,14.2,...,NaN,35.0,78.0,NaN,1010.5,1.6,15.0,202.5,0.8,1.5
3,2023-06-26,AU,Adelaide,NaN,2.3,10.2,81.2,NaN,NaN,4.6,...,NaN,13.0,21.0,0.1,1018.6,NaN,11.6,NaN,6.7,3.8
4,2023-06-26,AU,Brisbane,NaN,1.5,1.0,27.3,NaN,NaN,5.5,...,NaN,11.0,14.0,NaN,1016.0,1.1,19.7,260.0,10.6,1.8

In [25]:
data_df_2023_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              25102
co               10340
dew               5166
humidity            23
mepaqi           25099
neph             25001
no2               4438
o3                3734
pm1              25100
pm10              5937
pm25              2644
precipitation    21924
pressure           169
so2               8920
temperature          2
wd               24217
wind-gust         9754
wind-speed         557
dtype: int64

# 2023_Q4

In [26]:
# Loading the data
raw_data_2023_Q4 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2023Q4.csv")

# print the shape
print(raw_data_2023_Q4.shape)

#runs the first 5 rows
raw_data_2023_Q4.head(10)

(217731, 5)

         Date Country   City    Specie  median
0  10/30/2023      FI  Turku  pressure  1002.0
1   11/9/2023      FI  Turku  pressure  1004.0
2  11/26/2023      FI  Turku  pressure  1005.0
3   12/6/2023      FI  Turku  pressure  1023.0
4  12/12/2023      FI  Turku  pressure  1008.0
5  12/13/2023      FI  Turku  pressure  1007.0
6  12/30/2023      FI  Turku  pressure   995.5
7   10/8/2023      FI  Turku  pressure  1005.5
8  11/10/2023      FI  Turku  pressure   999.0
9  11/22/2023      FI  Turku  pressure  1016.5

In [27]:
# Convert 'Date' to datetime
raw_data_2023_Q4['Date'] = pd.to_datetime(raw_data_2023_Q4['Date'])

In [28]:
raw_data_2023_Q4.shape

(217731, 5)

In [29]:
# Pivot the data
data_df_2023_Q4 = raw_data_2023_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [30]:
print(data_df_2023_Q4.shape)
data_df_2023_Q4.head()

(22632, 21)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2023-09-25,AT,Graz,NaN,0.1,11.0,93.0,NaN,6.4,NaN,...,11.0,36.0,NaN,1025.0,0.6,13.0,NaN,NaN,5.5,1.0
1,2023-09-25,AT,Innsbruck,NaN,0.1,NaN,58.0,NaN,6.4,NaN,...,8.0,NaN,NaN,1022.1,1.1,26.6,NaN,NaN,6.0,2.0
2,2023-09-25,AT,Linz,NaN,0.1,10.5,78.0,NaN,7.1,NaN,...,11.0,30.0,NaN,1025.2,1.6,16.8,NaN,NaN,1.6,1.0
3,2023-09-25,AT,Salzburg,NaN,0.1,9.0,87.0,NaN,7.4,NaN,...,10.0,25.0,NaN,1024.5,1.1,12.5,NaN,NaN,NaN,1.5
4,2023-09-25,AT,Vienna,NaN,0.1,11.5,71.1,NaN,6.4,NaN,...,11.0,30.0,NaN,1025.0,1.6,16.3,NaN,NaN,4.8,2.3

In [31]:
data_df_2023_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              21358
co               11602
dew               4359
humidity            65
mepaqi           22534
no2               5375
o3                7954
pm1              22372
pm10              5288
pm25              5839
precipitation    19716
pressure           201
so2               8084
temperature         32
uvi              21841
wd               21683
wind-gust        11027
wind-speed         315
dtype: int64

# 2022_Q2

In [32]:
# Loading the data
raw_data_2022_Q2 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2022Q2.csv")

# print the shape
print(raw_data_2022_Q2.shape)

#runs the first 5 rows
raw_data_2022_Q2.head(10)

(573836, 5)

        Date Country            City    Specie  median
0  3/31/2022      GT  Guatemala City  pressure  1018.0
1  4/23/2022      GT  Guatemala City  pressure  1020.0
2   5/6/2022      GT  Guatemala City  pressure  1021.0
3  6/10/2022      GT  Guatemala City  pressure  1021.0
4   4/4/2022      GT  Guatemala City  pressure  1018.0
5  5/13/2022      GT  Guatemala City  pressure  1020.0
6   6/3/2022      GT  Guatemala City  pressure  1018.0
7   6/9/2022      GT  Guatemala City  pressure  1020.0
8   6/2/2022      GT  Guatemala City  pressure  1017.0
9  6/30/2022      GT  Guatemala City  pressure  1023.0

In [33]:
# Convert 'Date' to datetime
raw_data_2022_Q2['Date'] = pd.to_datetime(raw_data_2022_Q2['Date'])

In [34]:
raw_data_2022_Q2.shape

(573836, 5)

In [35]:
# Pivot the data
data_df_2022_Q2 = raw_data_2022_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [36]:
print(data_df_2022_Q2.shape)
data_df_2022_Q2.head()

(56751, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-03-28,AE,Abu Dhabi,NaN,0.1,15.0,64.0,NaN,NaN,5.1,...,69.0,50.0,NaN,1017.0,7.2,22.0,NaN,NaN,4.7,5.1
1,2022-03-28,AE,Dubai,NaN,NaN,15.0,60.0,NaN,NaN,NaN,...,NaN,70.0,NaN,1015.0,NaN,23.0,NaN,NaN,NaN,4.6
2,2022-03-28,AR,Buenos Aires,NaN,0.1,15.8,73.0,NaN,NaN,NaN,...,10.0,30.0,NaN,1012.8,8.7,22.8,NaN,45.0,4.0,1.3
3,2022-03-28,AT,Graz,NaN,0.1,1.9,50.4,NaN,NaN,13.3,...,33.0,NaN,NaN,1014.3,1.6,11.4,NaN,NaN,2.6,1.0
4,2022-03-28,AT,Innsbruck,NaN,0.1,-2.1,41.9,NaN,NaN,11.9,...,20.0,NaN,99.0,959.3,0.6,7.5,NaN,NaN,3.7,1.0

In [37]:
data_df_2022_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              55322
co               20880
dew              12576
humidity            86
mepaqi           56653
neph             56555
no2              10984
o3               14660
pm1              56486
pm10              9916
pm25              7691
precipitation    50204
pressure           358
so2              18493
temperature         69
uvi              55772
wd               52418
wind-gust        24603
wind-speed         707
dtype: int64

# 2022_Q3

In [38]:
# Loading the data
raw_data_2022_Q3 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2022Q3.csv")

# print the shape
print(raw_data_2022_Q3.shape)

#runs the first 5 rows
raw_data_2022_Q3.head(10)

(570466, 5)

        Date Country         City      Specie  median
0  7/14/2022      MX  Guadalajara  wind-speed     2.0
1   8/6/2022      MX  Guadalajara  wind-speed     2.0
2  8/25/2022      MX  Guadalajara  wind-speed     1.0
3  8/29/2022      MX  Guadalajara  wind-speed     1.6
4  8/31/2022      MX  Guadalajara  wind-speed     1.1
5   9/5/2022      MX  Guadalajara  wind-speed     2.0
6  6/30/2022      MX  Guadalajara  wind-speed     1.0
7  7/30/2022      MX  Guadalajara  wind-speed     1.1
8   8/9/2022      MX  Guadalajara  wind-speed     1.5
9  8/15/2022      MX  Guadalajara  wind-speed     1.3

In [39]:
# Convert 'Date' to datetime
raw_data_2022_Q3['Date'] = pd.to_datetime(raw_data_2022_Q3['Date'])

In [40]:
raw_data_2022_Q3.shape

(570466, 5)

In [41]:
# Pivot the data
data_df_2022_Q3 = raw_data_2022_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [42]:
print(data_df_2022_Q3.shape)
data_df_2022_Q3.head()

(56219, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-06-27,AE,Abu Dhabi,NaN,0.1,27.0,74.0,NaN,NaN,6.9,...,107.0,139.0,NaN,996.0,4.1,33.0,NaN,NaN,0.9,3.0
1,2022-06-27,AE,Dubai,NaN,NaN,24.0,49.0,NaN,NaN,NaN,...,NaN,203.0,NaN,996.0,NaN,36.0,NaN,NaN,NaN,4.6
2,2022-06-27,AR,Buenos Aires,NaN,2.0,5.0,75.5,NaN,NaN,NaN,...,10.0,53.0,NaN,1016.0,3.1,10.3,NaN,270.0,1.3,1.5
3,2022-06-27,AT,Graz,NaN,0.1,17.6,48.6,NaN,NaN,5.1,...,20.0,34.0,NaN,972.7,1.1,26.7,NaN,NaN,4.1,2.0
4,2022-06-27,AT,Innsbruck,NaN,0.1,13.5,52.7,NaN,NaN,4.6,...,20.0,NaN,NaN,1013.0,0.6,25.0,NaN,NaN,13.0,5.0

In [43]:
data_df_2022_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              54757
co               20304
dew              12264
humidity            85
mepaqi           56121
neph             56023
no2              10326
o3               13608
pm1              56023
pm10              9727
pm25              7383
precipitation    48775
pressure           337
so2              18086
temperature         45
uvi              55241
wd               52204
wind-gust        25319
wind-speed        1067
dtype: int64

# 2022_Q4

In [44]:
# Loading the data
raw_data_2022_Q4 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2022Q4.csv")

# print the shape
print(raw_data_2022_Q4.shape)

#runs the first 5 rows
raw_data_2022_Q4.head(10)

(551341, 5)

         Date Country       City    Specie  median
0  10/20/2022      GB  Edinburgh  humidity    94.2
1   11/2/2022      GB  Edinburgh  humidity    84.0
2   11/8/2022      GB  Edinburgh  humidity    81.0
3  11/13/2022      GB  Edinburgh  humidity    91.3
4  11/19/2022      GB  Edinburgh  humidity    91.4
5  11/20/2022      GB  Edinburgh  humidity    88.0
6   12/4/2022      GB  Edinburgh  humidity    89.8
7   12/6/2022      GB  Edinburgh  humidity    84.0
8  12/13/2022      GB  Edinburgh  humidity    92.0
9  12/15/2022      GB  Edinburgh  humidity    83.2

In [45]:
# Convert 'Date' to datetime
raw_data_2022_Q4['Date'] = pd.to_datetime(raw_data_2022_Q4['Date'])

In [46]:
raw_data_2022_Q4.shape

(551341, 5)

In [47]:
# Pivot the data
data_df_2022_Q4 = raw_data_2022_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [48]:
print(data_df_2022_Q4.shape)
data_df_2022_Q4.head()

(54530, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-09-26,AE,Abu Dhabi,NaN,0.1,27.0,79.0,NaN,NaN,6.5,...,110.0,NaN,NaN,1005.0,2.3,32.0,NaN,NaN,2.5,2.5
1,2022-09-26,AE,Dubai,NaN,NaN,26.0,66.0,NaN,NaN,NaN,...,NaN,186.0,NaN,1004.0,NaN,33.0,NaN,NaN,NaN,3.0
2,2022-09-26,AR,Buenos Aires,NaN,5.3,12.9,82.9,NaN,NaN,NaN,...,35.0,9.0,NaN,1011.3,4.1,16.6,NaN,67.5,NaN,2.0
3,2022-09-26,AT,Graz,NaN,0.1,11.4,90.6,NaN,NaN,8.3,...,10.0,30.0,99.2,964.7,1.1,12.9,NaN,NaN,2.6,1.0
4,2022-09-26,AT,Innsbruck,NaN,0.1,8.6,96.5,NaN,NaN,6.0,...,6.0,NaN,99.0,938.6,0.6,10.8,NaN,NaN,1.0,2.0

In [49]:
data_df_2022_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              53624
co               19997
dew              10675
humidity           203
mepaqi           54432
neph             54334
no2               9605
o3               12958
pm1              54282
pm10             10067
pm25              6960
precipitation    48184
pressure           395
so2              16571
temperature        103
uvi              53550
wd               50877
wind-gust        26553
wind-speed        1359
dtype: int64

# 2021_Q1

In [50]:
# Loading the data
raw_data_2021_Q1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2021Q1.csv")

# print the shape
print(raw_data_2021_Q1.shape)

#runs the first 5 rows
raw_data_2021_Q1.head(10)

(590729, 5)

        Date Country     City    Specie  median
0   4/4/2021      CN  Beijing  pressure  1026.0
1  2/13/2021      CN  Beijing  pressure  1021.0
2  2/16/2021      CN  Beijing  pressure  1026.0
3   3/1/2021      CN  Beijing  pressure  1028.5
4  3/14/2021      CN  Beijing  pressure  1015.5
5  3/16/2021      CN  Beijing  pressure  1022.5
6   4/2/2021      CN  Beijing  pressure  1019.0
7  3/21/2021      CN  Beijing  pressure  1025.0
8   1/6/2021      CN  Beijing  pressure  1036.0
9  1/16/2021      CN  Beijing  pressure  1034.0

In [51]:
# Convert 'Date' to datetime
raw_data_2021_Q1['Date'] = pd.to_datetime(raw_data_2021_Q1['Date'])

In [52]:
raw_data_2021_Q1.shape

(590729, 5)

In [53]:
# Pivot the data
data_df_2021_Q1 = raw_data_2021_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [54]:
print(data_df_2021_Q1.shape)
data_df_2021_Q1.head()

(58552, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-12-28,AE,Abu Dhabi,NaN,0.1,11.0,55.0,NaN,NaN,15.1,...,100.0,34.0,NaN,1019.0,4.6,20.0,NaN,NaN,NaN,2.5
1,2020-12-28,AE,Dubai,NaN,NaN,8.0,45.0,NaN,NaN,NaN,...,NaN,63.0,NaN,1019.0,NaN,21.0,NaN,NaN,NaN,3.0
2,2020-12-28,AF,Kabul,NaN,NaN,-15.0,35.0,NaN,NaN,NaN,...,NaN,102.0,NaN,1019.0,NaN,-2.0,NaN,NaN,NaN,3.6
3,2020-12-28,AR,Buenos Aires,NaN,2.8,20.7,75.1,NaN,NaN,14.2,...,19.0,25.0,NaN,1012.0,NaN,25.8,NaN,90.0,13.0,5.6
4,2020-12-28,AT,Graz,NaN,0.1,-3.6,54.3,NaN,NaN,11.2,...,19.0,NaN,99.5,986.6,1.1,-0.3,NaN,NaN,2.3,1.0

In [55]:
data_df_2021_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57095
co               21064
dew              12610
humidity           203
mepaqi           58454
neph             58356
no2              10946
o3               15009
pm1              58358
pm10             10897
pm25              8962
precipitation    52036
pressure           360
so2              18363
temperature        177
uvi              57577
wd               53821
wind-gust        26579
wind-speed         892
dtype: int64

# 2021_Q2

In [56]:
# Loading the data
raw_data_2021_Q2 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2021Q2.csv")

# print the shape
print(raw_data_2021_Q2.shape)

#runs the first 5 rows
raw_data_2021_Q2.head(10)

(587119, 5)

        Date Country     City Specie  median
0   4/8/2021      IQ  Baghdad    dew     6.0
1   7/1/2021      IQ  Baghdad    dew     9.0
2   4/6/2021      IQ  Baghdad    dew     6.0
3  4/14/2021      IQ  Baghdad    dew     3.0
4  4/19/2021      IQ  Baghdad    dew     8.0
5   5/8/2021      IQ  Baghdad    dew    10.0
6  5/17/2021      IQ  Baghdad    dew     7.0
7  5/21/2021      IQ  Baghdad    dew     7.0
8  5/22/2021      IQ  Baghdad    dew     9.0
9   6/3/2021      IQ  Baghdad    dew     8.0

In [57]:
# Convert 'Date' to datetime
raw_data_2021_Q2['Date'] = pd.to_datetime(raw_data_2021_Q2['Date'])

In [58]:
raw_data_2021_Q2.shape

(587119, 5)

In [59]:
# Pivot the data
data_df_2021_Q2 = raw_data_2021_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [60]:
print(data_df_2021_Q2.shape)
data_df_2021_Q2.head()

(58359, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-03-29,AE,Abu Dhabi,NaN,0.1,17.0,64.0,NaN,NaN,5.5,...,72.0,NaN,NaN,1012.0,5.6,25.0,NaN,NaN,NaN,4.6
1,2021-03-29,AE,Dubai,NaN,NaN,18.0,65.0,NaN,NaN,NaN,...,NaN,72.0,NaN,1011.0,NaN,25.0,NaN,NaN,NaN,3.6
2,2021-03-29,AF,Kabul,NaN,NaN,-4.0,25.0,NaN,NaN,NaN,...,NaN,65.0,NaN,1015.0,NaN,14.0,NaN,NaN,11.8,5.6
3,2021-03-29,AR,Buenos Aires,NaN,0.1,NaN,86.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1013.2,NaN,19.1,NaN,202.5,8.6,2.8
4,2021-03-29,AT,Graz,NaN,0.1,1.8,50.0,NaN,NaN,10.1,...,20.0,NaN,NaN,1031.2,1.1,12.2,NaN,NaN,2.7,1.5

In [61]:
data_df_2021_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57041
co               21327
dew              13091
humidity           798
mepaqi           58261
neph             58163
no2              11014
o3               14925
pm1              57970
pm10             10603
pm25              8315
precipitation    51439
pressure           951
so2              19006
temperature        776
uvi              57379
wd               54281
wind-gust        24945
wind-speed        1417
dtype: int64

# 2021_Q3

In [62]:
# Loading the data
raw_data_2021_Q3 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2021Q3.csv")

# print the shape
print(raw_data_2021_Q3.shape)

#runs the first 5 rows
raw_data_2021_Q3.head(10)

(570079, 5)

        Date Country                 City Specie  median
0   7/5/2021      BR  São José dos Campos    no2     3.7
1  7/16/2021      BR  São José dos Campos    no2     6.9
2  7/27/2021      BR  São José dos Campos    no2    14.7
3   8/3/2021      BR  São José dos Campos    no2     6.4
4  8/29/2021      BR  São José dos Campos    no2     2.3
5  9/21/2021      BR  São José dos Campos    no2     5.1
6  8/22/2021      BR  São José dos Campos    no2    16.5
7  9/11/2021      BR  São José dos Campos    no2     9.6
8   7/2/2021      BR  São José dos Campos    no2    13.8
9   7/7/2021      BR  São José dos Campos    no2     6.9

In [63]:
# Convert 'Date' to datetime
raw_data_2021_Q3['Date'] = pd.to_datetime(raw_data_2021_Q3['Date'])

In [64]:
raw_data_2021_Q3.shape

(570079, 5)

In [65]:
# Pivot the data
data_df_2021_Q3 = raw_data_2021_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [66]:
print(data_df_2021_Q3.shape)
data_df_2021_Q3.head()

(57529, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-06-28,AE,Abu Dhabi,NaN,0.1,19.0,30.0,NaN,NaN,7.8,...,194.0,151.0,NaN,1002.0,4.1,37.0,NaN,NaN,NaN,4.6
1,2021-06-28,AE,Dubai,NaN,NaN,20.0,39.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1003.0,NaN,37.0,NaN,NaN,NaN,4.1
2,2021-06-28,AF,Kabul,NaN,NaN,5.0,29.0,NaN,NaN,NaN,...,NaN,157.0,NaN,1018.0,NaN,25.0,NaN,NaN,10.2,2.5
3,2021-06-28,AR,Buenos Aires,NaN,1.6,3.0,77.3,NaN,NaN,6.0,...,10.0,25.0,99.0,1021.0,1.1,7.7,NaN,247.5,10.7,4.1
4,2021-06-28,AT,Graz,NaN,0.1,15.5,51.3,NaN,NaN,6.4,...,16.0,NaN,99.0,1015.1,0.6,26.1,NaN,NaN,6.0,2.0

In [67]:
data_df_2021_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56333
co               21042
dew              12891
humidity          2237
mepaqi           57432
neph             57333
no2              10657
o3               14558
pm1              57173
pm10             10242
pm25              8362
precipitation    51411
pressure          2320
so2              18480
temperature       2216
uvi              56561
wd               54784
wind-gust        26014
wind-speed        2926
dtype: int64

# 2021_Q4

In [68]:
# Loading the data
raw_data_2021_Q4 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2021Q4.csv")

# print the shape
print(raw_data_2021_Q4.shape)

#runs the first 5 rows
raw_data_2021_Q4.head(10)

(548423, 5)

         Date Country    City    Specie  median
0  10/24/2021      BH  Manama  pressure  1010.7
1  11/12/2021      BH  Manama  pressure  1013.6
2  11/27/2021      BH  Manama  pressure  1015.8
3  12/10/2021      BH  Manama  pressure  1020.7
4  12/22/2021      BH  Manama  pressure  1017.5
5  12/26/2021      BH  Manama  pressure  1019.6
6  10/11/2021      BH  Manama  pressure  1007.3
7  10/18/2021      BH  Manama  pressure  1008.7
8  11/15/2021      BH  Manama  pressure  1013.1
9  11/16/2021      BH  Manama  pressure  1010.4

In [69]:
# Convert 'Date' to datetime
raw_data_2021_Q4['Date'] = pd.to_datetime(raw_data_2021_Q4['Date'])

In [70]:
raw_data_2021_Q4.shape

(548423, 5)

In [71]:
# Pivot the data
data_df_2021_Q4 = raw_data_2021_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [72]:
print(data_df_2021_Q4.shape)
data_df_2021_Q4.head()

(57596, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-09-27,AE,Abu Dhabi,NaN,0.1,21.0,49.0,NaN,NaN,5.1,...,107.0,112.0,NaN,1003.0,3.1,33.0,NaN,NaN,NaN,3.0
1,2021-09-27,AE,Dubai,NaN,NaN,24.0,59.0,NaN,NaN,NaN,...,NaN,70.0,NaN,1003.0,NaN,33.0,NaN,NaN,NaN,3.0
2,2021-09-27,AR,Buenos Aires,NaN,5.7,12.8,87.7,NaN,NaN,6.9,...,17.0,50.0,NaN,1018.4,NaN,14.9,NaN,NaN,8.0,6.0
3,2021-09-27,AT,Graz,NaN,0.1,14.8,79.6,NaN,NaN,12.4,...,19.0,NaN,0.3,974.8,1.1,16.6,NaN,NaN,2.5,1.2
4,2021-09-27,AT,Innsbruck,NaN,0.1,13.2,86.2,NaN,NaN,9.6,...,12.0,NaN,0.6,951.6,0.6,15.2,NaN,NaN,6.0,1.0

In [73]:
data_df_2021_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56254
co               21421
dew              15917
humidity          5137
mepaqi           57498
neph             57400
no2              11193
o3               15551
pm1              57213
pm10             10535
pm25              9407
precipitation    52472
pressure          4971
so2              19425
temperature       4923
uvi              56620
wd               55617
wind-gust        28316
wind-speed        6031
dtype: int64

# 2020_Q1

In [74]:
# Loading the data
raw_data_2020_Q1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2020Q1.csv")

# print the shape
print(raw_data_2020_Q1.shape)

#runs the first 5 rows
raw_data_2020_Q1.head(10)

(539573, 5)

        Date Country    City Specie  median
0  1/13/2020      CO  Bogotá    so2     0.5
1  2/25/2020      CO  Bogotá    so2     0.8
2   3/9/2020      CO  Bogotá    so2     0.6
3  3/13/2020      CO  Bogotá    so2     0.8
4  3/27/2020      CO  Bogotá    so2     0.7
5   4/5/2020      CO  Bogotá    so2     0.6
6   1/1/2020      CO  Bogotá    so2     0.6
7  1/10/2020      CO  Bogotá    so2     0.5
8  2/27/2020      CO  Bogotá    so2     0.6
9   3/8/2020      CO  Bogotá    so2     0.6

In [75]:
# Convert 'Date' to datetime
raw_data_2020_Q1['Date'] = pd.to_datetime(raw_data_2020_Q1['Date'])

In [76]:
raw_data_2020_Q1.shape

(539573, 5)

In [77]:
# Pivot the data
data_df_2020_Q1 = raw_data_2020_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [78]:
print(data_df_2020_Q1.shape)
data_df_2020_Q1.head()

(59069, 25)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,precipitation,pressure,so2,temperature,uvi,wd,wind gust,wind speed,wind-gust,wind-speed
0,2019-12-30,AE,Abu Dhabi,NaN,0.1,NaN,NaN,NaN,NaN,19.2,...,NaN,NaN,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-30,AE,Dubai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-30,AF,Kabul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-30,AR,Buenos Aires,NaN,3.8,NaN,NaN,NaN,NaN,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-30,AT,Graz,NaN,0.1,NaN,NaN,NaN,NaN,16.5,...,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
data_df_2020_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57661
co               22080
dew              22910
humidity         11489
mepaqi           58971
neph             58873
no2              11017
o3               14542
pm1              58687
pm10             10818
pm25              9623
pol              58354
precipitation    55234
pressure         11631
so2              18847
temperature      11481
uvi              58086
wd               55488
wind gust        30802
wind speed       14994
wind-gust        55472
wind-speed       52885
dtype: int64

# 2020_Q2

In [80]:
# Loading the data
raw_data_2020_Q2 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2020Q2.csv")

# print the shape
print(raw_data_2020_Q2.shape)

#runs the first 5 rows
raw_data_2020_Q2.head(10)

(602520, 5)

        Date Country      City      Specie  median
0  4/15/2020      IN  Thrissur   wind-gust    10.2
1  4/26/2020      IN  Thrissur   wind-gust    12.8
2   5/2/2020      IN  Thrissur   wind-gust     8.7
3  5/11/2020      IN  Thrissur   wind-gust    11.3
4  6/21/2020      IN  Thrissur   wind-gust    10.2
5   7/2/2020      IN  Thrissur   wind-gust    11.8
6  3/30/2020      IN  Thrissur  wind speed     0.9
7  3/31/2020      IN  Thrissur  wind speed     1.0
8  5/31/2020      IN  Thrissur          o3     0.7
9   4/8/2020      IN  Thrissur          o3     0.8

In [81]:
# Convert 'Date' to datetime
raw_data_2020_Q2['Date'] = pd.to_datetime(raw_data_2020_Q2['Date'])

In [82]:
raw_data_2020_Q2.shape

(602520, 5)

In [83]:
# Pivot the data
data_df_2020_Q2 = raw_data_2020_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [84]:
print(data_df_2020_Q2.shape)
data_df_2020_Q1.head()

(59500, 24)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,precipitation,pressure,so2,temperature,uvi,wd,wind gust,wind speed,wind-gust,wind-speed
0,2019-12-30,AE,Abu Dhabi,NaN,0.1,NaN,NaN,NaN,NaN,19.2,...,NaN,NaN,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-30,AE,Dubai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-30,AF,Kabul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-30,AR,Buenos Aires,NaN,3.8,NaN,NaN,NaN,NaN,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-30,AT,Graz,NaN,0.1,NaN,NaN,NaN,NaN,16.5,...,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
data_df_2020_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              58118
co               22434
dew              12453
humidity            84
mepaqi           59402
neph             59304
no2              11349
o3               14440
pm1              59138
pm10             11078
pm25              9389
precipitation    52038
pressure           309
so2              18997
temperature         71
uvi              58494
wd               55060
wind gust        58877
wind speed       58341
wind-gust        26841
wind-speed         763
dtype: int64

# 2020_Q3

In [86]:
# Loading the data
raw_data_2020_Q3 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2020Q3.csv")

# print the shape
print(raw_data_2020_Q3.shape)

#runs the first 5 rows
raw_data_2020_Q3.head(10)

(598100, 5)

        Date Country    City Specie  median
0  8/16/2020      UA  Odessa   pm10     7.0
1  8/18/2020      UA  Odessa   pm10     5.0
2  8/24/2020      UA  Odessa   pm10     5.0
3  8/25/2020      UA  Odessa   pm10     6.0
4  8/26/2020      UA  Odessa   pm10     5.0
5  8/28/2020      UA  Odessa   pm10     5.0
6  8/13/2020      UA  Odessa   pm10     4.0
7  8/14/2020      UA  Odessa   pm10     5.0
8  8/19/2020      UA  Odessa   pm10     7.0
9  8/27/2020      UA  Odessa   pm10     7.0

In [87]:
# Convert 'Date' to datetime
raw_data_2020_Q3['Date'] = pd.to_datetime(raw_data_2020_Q3['Date'])

In [88]:
raw_data_2020_Q3.shape

(598100, 5)

In [89]:
# Pivot the data
data_df_2020_Q3 = raw_data_2020_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [90]:
print(data_df_2020_Q3.shape)
data_df_2020_Q3.head()

(59172, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-06-29,AE,Abu Dhabi,NaN,0.1,25.0,50.0,NaN,NaN,6.4,...,100.0,97.0,NaN,997.0,4.1,36.0,NaN,NaN,NaN,2.0
1,2020-06-29,AE,Dubai,NaN,NaN,26.0,56.0,NaN,NaN,NaN,...,NaN,155.0,NaN,996.0,NaN,35.0,NaN,NaN,NaN,2.5
2,2020-06-29,AF,Kabul,NaN,NaN,-2.0,25.0,NaN,NaN,NaN,...,NaN,85.0,NaN,1013.0,NaN,25.0,NaN,NaN,12.8,5.1
3,2020-06-29,AR,Buenos Aires,NaN,2.7,6.8,78.0,NaN,NaN,11.9,...,8.0,17.0,NaN,1016.4,0.6,11.1,NaN,112.5,10.6,5.6
4,2020-06-29,AT,Graz,NaN,0.1,16.8,80.5,NaN,NaN,6.0,...,10.0,NaN,2.1,969.5,1.6,19.1,NaN,NaN,4.0,1.0

In [91]:
data_df_2020_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57689
co               22203
dew              12016
humidity            87
mepaqi           59074
neph             58976
no2              11175
o3               13982
pm1              58848
pm10             10889
pm25              9314
precipitation    51268
pressure           426
so2              18642
temperature        106
uvi              58291
wd               54519
wind-gust        27905
wind-speed         758
dtype: int64

# 2020_Q4

In [92]:
# Loading the data
raw_data_2020_Q4 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2020Q4.csv")

# print the shape
print(raw_data_2020_Q4.shape)

#runs the first 5 rows
raw_data_2020_Q4.head(10)

(586937, 5)

         Date Country         City Specie  median
0  12/23/2020      ET  Addis Ababa   pm25    46.0
1  10/12/2020      ET  Addis Ababa   pm25    68.0
2  10/17/2020      ET  Addis Ababa   pm25    72.0
3  11/25/2020      ET  Addis Ababa   pm25    68.0
4  11/27/2020      ET  Addis Ababa   pm25    46.0
5   12/9/2020      ET  Addis Ababa   pm25    46.0
6  10/25/2020      ET  Addis Ababa   pm25    61.0
7  10/31/2020      ET  Addis Ababa   pm25    53.0
8  10/18/2020      ET  Addis Ababa   pm25    70.0
9   11/8/2020      ET  Addis Ababa   pm25    55.0

In [93]:
# Convert 'Date' to datetime
raw_data_2020_Q4['Date'] = pd.to_datetime(raw_data_2020_Q4['Date'])

In [94]:
raw_data_2020_Q4.shape

(586937, 5)

In [95]:
# Pivot the data
data_df_2020_Q4 = raw_data_2020_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [96]:
print(data_df_2020_Q4.shape)
data_df_2020_Q4.head()

(58362, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-09-28,AE,Abu Dhabi,NaN,0.1,24.0,70.0,NaN,NaN,10.6,...,66.0,74.0,NaN,1005.0,4.6,32.0,NaN,NaN,NaN,2.5
1,2020-09-28,AE,Dubai,NaN,NaN,25.0,70.0,NaN,NaN,NaN,...,NaN,99.0,NaN,1005.0,NaN,32.0,NaN,NaN,NaN,2.0
2,2020-09-28,AF,Kabul,NaN,NaN,6.0,43.0,NaN,NaN,NaN,...,NaN,89.0,NaN,1019.0,NaN,17.0,NaN,NaN,NaN,3.0
3,2020-09-28,AR,Buenos Aires,NaN,4.4,4.1,50.3,NaN,NaN,6.9,...,12.0,21.0,NaN,1011.6,0.6,16.5,NaN,247.5,7.6,2.8
4,2020-09-28,AT,Graz,NaN,0.1,8.9,92.3,NaN,NaN,7.8,...,6.0,NaN,0.4,965.6,1.1,10.4,NaN,NaN,3.7,2.0

In [97]:
data_df_2020_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56864
co               21639
dew              11928
humidity           150
mepaqi           58264
neph             58166
no2              10851
o3               14731
pm1              58017
pm10             10882
pm25              8929
precipitation    52342
pressure           356
so2              18883
temperature        113
uvi              57392
wd               53565
wind-gust        27934
wind-speed         935
dtype: int64

# 2019_Q1

In [98]:
# Loading the data
raw_data_2019_Q1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2019Q1.csv")

# print the shape
print(raw_data_2019_Q1.shape)

#runs the first 5 rows
raw_data_2019_Q1.head(10)

(491161, 5)

        Date Country       City Specie  median
0  1/16/2019      AE  Abu Dhabi   pm10    97.0
1  1/22/2019      AE  Abu Dhabi   pm10    55.0
2  1/26/2019      AE  Abu Dhabi   pm10   160.0
3   1/7/2019      AE  Abu Dhabi   pm10    72.0
4  1/10/2019      AE  Abu Dhabi   pm10    87.0
5  1/14/2019      AE  Abu Dhabi   pm10    74.0
6  1/15/2019      AE  Abu Dhabi   pm10    83.0
7  1/21/2019      AE  Abu Dhabi   pm10    58.0
8   1/8/2019      AE  Abu Dhabi   pm10    97.0
9  1/17/2019      AE  Abu Dhabi   pm10    77.0

In [99]:
# Convert 'Date' to datetime
raw_data_2019_Q1['Date'] = pd.to_datetime(raw_data_2019_Q1['Date'])

In [100]:
raw_data_2019_Q1.shape

(491161, 5)

In [101]:
# Pivot the data
data_df_2019_Q1 = raw_data_2019_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [102]:
print(data_df_2019_Q1.shape)
data_df_2019_Q1.head()

(49006, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-12-31,AE,Abu Dhabi,NaN,NaN,16.0,68.0,NaN,27.9,27.3,...,112.0,NaN,NaN,1019.0,4.6,22.0,NaN,NaN,NaN,2.0
1,2018-12-31,AR,Buenos Aires,NaN,NaN,14.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,11.3,5.0
2,2018-12-31,AT,Graz,NaN,0.1,NaN,70.2,NaN,14.2,NaN,...,NaN,NaN,NaN,1027.1,1.1,3.7,NaN,NaN,4.3,1.5
3,2018-12-31,AT,Innsbruck,NaN,0.1,0.5,93.0,NaN,30.7,NaN,...,NaN,NaN,NaN,1032.0,1.3,0.0,NaN,NaN,2.2,0.7
4,2018-12-31,AT,Linz,NaN,0.1,2.5,92.0,NaN,9.6,NaN,...,53.0,NaN,NaN,1031.0,7.1,3.3,NaN,NaN,2.5,1.2

In [103]:
data_df_2019_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              47701
co               17145
dew              21593
humidity           293
mepaqi           48915
no2               7765
o3                9237
pm1              48915
pm10              9686
pm25              7771
pol              48812
precipitation    45579
pressure           526
so2              13818
temperature        280
uvi              48084
wd               43626
wind-gust        16846
wind-speed        3361
dtype: int64

# 2019_Q2

In [104]:
# Loading the data
raw_data_2019_Q2 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2019Q2.csv")

# print the shape
print(raw_data_2019_Q2.shape)

#runs the first 5 rows
raw_data_2019_Q2.head(10)

(522904, 5)

        Date Country   City Specie  median
0  5/10/2019      MO  Macau     o3    15.7
1  5/14/2019      MO  Macau     o3    10.1
2  5/15/2019      MO  Macau     o3     9.8
3  5/22/2019      MO  Macau     o3    36.0
4  5/29/2019      MO  Macau     o3    18.8
5  4/19/2019      MO  Macau     o3    16.1
6  4/22/2019      MO  Macau     o3    10.3
7  4/24/2019      MO  Macau     o3    12.2
8   5/7/2019      MO  Macau     o3    22.8
9   6/4/2019      MO  Macau     o3    10.1

In [105]:
# Convert 'Date' to datetime
raw_data_2019_Q2['Date'] = pd.to_datetime(raw_data_2019_Q2['Date'])

In [106]:
raw_data_2019_Q2.shape

(522904, 5)

In [107]:
# Pivot the data
data_df_2019_Q2 = raw_data_2019_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [108]:
print(data_df_2019_Q2.shape)
data_df_2019_Q2.head()

(51421, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2019-04-01,AE,Abu Dhabi,NaN,NaN,6.0,17.0,NaN,NaN,NaN,...,154.0,NaN,NaN,1008.0,NaN,32.0,NaN,NaN,NaN,6.1
1,2019-04-01,AE,Dubai,NaN,NaN,8.0,23.0,NaN,NaN,7.4,...,112.0,NaN,NaN,1009.0,NaN,32.0,NaN,NaN,NaN,5.1
2,2019-04-01,AR,Buenos Aires,NaN,NaN,20.0,80.2,NaN,NaN,11.8,...,42.0,NaN,NaN,1011.6,1.1,21.6,NaN,0.0,4.5,2.0
3,2019-04-01,AT,Graz,NaN,0.1,NaN,51.0,NaN,12.8,NaN,...,NaN,NaN,NaN,1019.0,1.1,10.1,NaN,NaN,3.5,1.6
4,2019-04-01,AT,Innsbruck,NaN,0.1,2.5,64.2,NaN,13.3,NaN,...,NaN,NaN,NaN,1015.5,0.6,8.0,NaN,NaN,1.7,1.8

In [109]:
data_df_2019_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              50092
co               18780
dew              13355
humidity           229
mepaqi           51331
no2               9320
o3               10834
pm1              51268
pm10             10047
pm25              8810
pol              51067
precipitation    47158
pressure           501
so2              15164
temperature        207
uvi              50526
wd               47337
wind-gust        16360
wind-speed        1709
dtype: int64

# 2019_Q3

In [110]:
# Loading the data
raw_data_2019_Q3 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2019Q3.csv")

# print the shape
print(raw_data_2019_Q3.shape)

#runs the first 5 rows
raw_data_2019_Q3.head(10)

(582606, 5)

        Date Country    City Specie  median
0  8/20/2019      SK  Košice    dew    17.0
1  8/22/2019      SK  Košice    dew    13.0
2  9/20/2019      SK  Košice    dew     2.5
3  9/27/2019      SK  Košice    dew    11.5
4  10/1/2019      SK  Košice    dew     7.0
5   7/8/2019      SK  Košice    dew     7.0
6   8/3/2019      SK  Košice    dew    13.0
7  7/21/2019      SK  Košice    dew    17.0
8  7/23/2019      SK  Košice    dew    14.5
9  8/11/2019      SK  Košice    dew    17.5

In [111]:
# Convert 'Date' to datetime
raw_data_2019_Q3['Date'] = pd.to_datetime(raw_data_2019_Q3['Date'])

In [112]:
raw_data_2019_Q3.shape

(582606, 5)

In [113]:
# Pivot the data
data_df_2019_Q3 = raw_data_2019_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [114]:
print(data_df_2019_Q3.shape)
data_df_2019_Q3.head()

(57230, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2019-07-01,AE,Abu Dhabi,NaN,NaN,19.0,34.0,NaN,NaN,11.4,...,144.0,NaN,NaN,996.0,NaN,37.0,NaN,NaN,NaN,2.5
1,2019-07-01,AE,Dubai,NaN,NaN,23.0,47.0,NaN,NaN,NaN,...,152.0,NaN,NaN,996.0,NaN,35.0,NaN,NaN,NaN,3.0
2,2019-07-01,AR,Buenos Aires,NaN,4.2,1.7,70.0,NaN,6.4,7.0,...,34.0,NaN,NaN,1019.0,NaN,7.8,NaN,292.5,5.5,2.0
3,2019-07-01,AT,Graz,NaN,0.1,17.0,48.5,NaN,7.8,NaN,...,NaN,NaN,NaN,1017.0,1.6,26.0,NaN,NaN,4.1,0.8
4,2019-07-01,AT,Innsbruck,NaN,0.1,16.5,76.2,NaN,12.8,NaN,...,NaN,NaN,NaN,1015.4,1.1,18.8,NaN,NaN,6.0,1.8

In [115]:
data_df_2019_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              55734
co               21758
dew              14427
humidity            74
mepaqi           57132
no2              10192
o3               12979
pm1              57100
pm10             10728
pm25              9627
pol              56146
precipitation    52356
pressure           530
so2              17234
temperature         67
uvi              56261
wd               52620
wind-gust        18819
wind-speed         980
dtype: int64

# 2019_Q4

In [116]:
# Loading the data
raw_data_2019_Q4 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2019Q4.csv")

# print the shape
print(raw_data_2019_Q4.shape)

#runs the first 5 rows
raw_data_2019_Q4.head(10)

(578226, 5)

         Date Country      City Specie  median
0   11/2/2019      HU  Debrecen     o3     7.0
1  11/11/2019      HU  Debrecen     o3     7.1
2  11/12/2019      HU  Debrecen     o3    12.0
3  12/22/2019      HU  Debrecen     o3    18.6
4    1/5/2020      HU  Debrecen     o3    16.7
5   10/4/2019      HU  Debrecen     o3    10.4
6   10/9/2019      HU  Debrecen     o3    21.0
7  11/20/2019      HU  Debrecen     o3     8.3
8  12/11/2019      HU  Debrecen     o3    11.5
9  12/15/2019      HU  Debrecen     o3    11.4

In [117]:
# Convert 'Date' to datetime
raw_data_2019_Q4['Date'] = pd.to_datetime(raw_data_2019_Q4['Date'])

In [118]:
raw_data_2019_Q4.shape

(578226, 5)

In [119]:
# Pivot the data
data_df_2019_Q4 = raw_data_2019_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [120]:
print(data_df_2019_Q4.shape)
data_df_2019_Q1.head()

(57861, 25)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-12-31,AE,Abu Dhabi,NaN,NaN,16.0,68.0,NaN,27.9,27.3,...,112.0,NaN,NaN,1019.0,4.6,22.0,NaN,NaN,NaN,2.0
1,2018-12-31,AR,Buenos Aires,NaN,NaN,14.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,11.3,5.0
2,2018-12-31,AT,Graz,NaN,0.1,NaN,70.2,NaN,14.2,NaN,...,NaN,NaN,NaN,1027.1,1.1,3.7,NaN,NaN,4.3,1.5
3,2018-12-31,AT,Innsbruck,NaN,0.1,0.5,93.0,NaN,30.7,NaN,...,NaN,NaN,NaN,1032.0,1.3,0.0,NaN,NaN,2.2,0.7
4,2018-12-31,AT,Linz,NaN,0.1,2.5,92.0,NaN,9.6,NaN,...,53.0,NaN,NaN,1031.0,7.1,3.3,NaN,NaN,2.5,1.2

In [121]:
data_df_2019_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56388
co               21943
dew              16361
humidity          2755
mepaqi           57763
neph             57795
no2              10772
o3               13984
pm1              57569
pm10             10930
pm25              9774
pol              56418
precipitation    54213
pressure          3069
so2              17888
temperature       2730
uvi              56952
wd               53664
wind gust        54986
wind speed       53344
wind-gust        21844
wind-speed        3574
dtype: int64

# 2018_H1

In [122]:
# Loading the data
raw_data_2018_H1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2018H1.csv")

# print the shape
print(raw_data_2018_H1.shape)

#runs the first 5 rows
raw_data_2018_H1.head(10)

(552440, 5)

        Date Country    City Specie  median
0  4/19/2018      HR  Zagreb   pm10    19.0
1   5/3/2018      HR  Zagreb   pm10    20.0
2   5/8/2018      HR  Zagreb   pm10    17.0
3  5/31/2018      HR  Zagreb   pm10    25.0
4  6/22/2018      HR  Zagreb   pm10     7.0
5   3/2/2018      HR  Zagreb   pm10    55.0
6  2/20/2018      HR  Zagreb   pm10    10.0
7  2/23/2018      HR  Zagreb   pm10    13.0
8  3/12/2018      HR  Zagreb   pm10     9.0
9  3/25/2018      HR  Zagreb   pm10    27.0

In [123]:
# Convert 'Date' to datetime
raw_data_2018_H1['Date'] = pd.to_datetime(raw_data_2018_H1['Date'])

In [124]:
raw_data_2018_H1.shape

(552440, 5)

In [125]:
# Pivot the data
data_df_2018_H1 = raw_data_2018_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [126]:
print(data_df_2018_H1.shape)
data_df_2018_H1.head()

(92410, 22)

Specie,Date,Country,City,aqi,co,d,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-01-01,AE,Abu Dhabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,AR,Buenos Aires,NaN,2.9,NaN,NaN,NaN,6.0,11.0,...,50.0,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,AT,Graz,NaN,0.1,NaN,NaN,NaN,15.1,NaN,...,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,AT,Innsbruck,NaN,0.1,NaN,NaN,NaN,18.3,NaN,...,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,AT,Linz,NaN,0.1,NaN,NaN,NaN,13.8,NaN,...,93.0,NaN,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN

In [127]:
data_df_2018_H1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              89157
co               32652
d                90397
humidity         68770
mepaqi           92232
no2              12867
o3               16072
pm1              92249
pm10             16901
pm25             16184
pol              91979
precipitation    90576
pressure         69101
so2              27288
temperature      68764
uvi              90294
wd               88246
wind-gust        77551
wind-speed       72070
dtype: int64

# 2017_H1

In [128]:
# Loading the data
raw_data_2017_H1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2017H1.csv")

# print the shape
print(raw_data_2017_H1.shape)

#runs the first 5 rows
raw_data_2017_H1.head(10)

(427974, 5)

         Date Country     City Specie  median
0  12/27/2016      CN  Beijing     co     7.3
1   1/28/2017      CN  Beijing     co    23.5
2   2/24/2017      CN  Beijing     co     6.4
3   3/18/2017      CN  Beijing     co    11.8
4   4/16/2017      CN  Beijing     co     9.1
5   6/12/2017      CN  Beijing     co    10.0
6   2/16/2017      CN  Beijing     co     4.6
7    3/6/2017      CN  Beijing     co     4.6
8   4/29/2017      CN  Beijing     co     3.7
9    6/3/2017      CN  Beijing     co     6.4

In [129]:
# Convert 'Date' to datetime
raw_data_2017_H1['Date'] = pd.to_datetime(raw_data_2017_H1['Date'])

In [130]:
raw_data_2017_H1.shape

(427974, 5)

In [131]:
# Pivot the data
data_df_2017_H1 = raw_data_2017_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [132]:
print(data_df_2017_H1.shape)
data_df_2017_H1.head()

(88640, 21)

Specie,Date,Country,City,aqi,co,d,humidity,mepaqi,neph,no2,...,pm1,pm10,pm25,pol,pressure,so2,temperature,uvi,wd,wind-speed
0,2016-12-26,AR,Buenos Aires,NaN,0.1,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,25.0,NaN,NaN,2.1,NaN,NaN,NaN,NaN
1,2016-12-26,AT,Graz,NaN,0.1,NaN,NaN,NaN,NaN,15.1,...,NaN,34.0,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN
2,2016-12-26,AT,Innsbruck,NaN,0.1,NaN,NaN,NaN,NaN,19.7,...,NaN,19.0,NaN,NaN,NaN,2.8,NaN,NaN,NaN,NaN
3,2016-12-26,AT,Linz,NaN,0.1,NaN,NaN,NaN,NaN,6.9,...,NaN,8.0,21.0,NaN,NaN,3.6,NaN,NaN,NaN,NaN
4,2016-12-26,AT,Salzburg,NaN,0.1,NaN,NaN,NaN,NaN,14.2,...,NaN,10.0,NaN,NaN,NaN,2.1,NaN,NaN,NaN,NaN

In [133]:
data_df_2017_H1.isnull().sum()

Specie
Date               0
Country            0
City               0
aqi            86591
co             30374
d              88622
humidity       88493
mepaqi         88451
neph           88100
no2            10738
o3             12809
pm1            88425
pm10           16164
pm25           13666
pol            88438
pressure       88507
so2            25932
temperature    88493
uvi            86525
wd             88610
wind-speed     88608
dtype: int64

# 2016_H1

In [134]:
# Loading the data
raw_data_2016_H1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2016H1.csv")

# print the shape
print(raw_data_2016_H1.shape)

#runs the first 5 rows
raw_data_2016_H1.head(10)

(413840, 5)

        Date Country       City Specie  median
0   2/3/2016      SE  Stockholm     o3    17.6
1   2/4/2016      SE  Stockholm     o3    17.8
2  2/16/2016      SE  Stockholm     o3    15.4
3  3/11/2016      SE  Stockholm     o3    15.6
4   4/2/2016      SE  Stockholm     o3    25.6
5   5/2/2016      SE  Stockholm     o3    35.1
6  5/11/2016      SE  Stockholm     o3    30.5
7   1/4/2016      SE  Stockholm     o3    12.9
8  5/26/2016      SE  Stockholm     o3    17.5
9  6/18/2016      SE  Stockholm     o3    16.9

In [135]:
# Convert 'Date' to datetime
raw_data_2016_H1['Date'] = pd.to_datetime(raw_data_2016_H1['Date'])

In [136]:
raw_data_2016_H1.shape

(413840, 5)

In [137]:
# Pivot the data
data_df_2016_H1 = raw_data_2016_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [138]:
print(data_df_2016_H1.shape)
data_df_2016_H1.head()

(86762, 15)

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,pm25,pol,psi,so2,uvi
0,2015-12-28,AE,Dubai,NaN,4.3,NaN,NaN,16.0,10.7,8.0,70.0,NaN,NaN,1.9,NaN
1,2015-12-28,AT,Graz,NaN,0.1,NaN,NaN,18.8,NaN,32.0,NaN,NaN,NaN,3.6,NaN
2,2015-12-28,AT,Innsbruck,NaN,0.1,NaN,NaN,37.5,NaN,44.0,NaN,NaN,NaN,3.6,NaN
3,2015-12-28,AT,Linz,NaN,0.1,NaN,NaN,18.8,NaN,40.0,108.0,NaN,NaN,2.1,NaN
4,2015-12-28,AT,Salzburg,NaN,0.1,NaN,NaN,28.8,NaN,21.0,NaN,NaN,NaN,2.6,NaN

In [139]:
data_df_2016_H1.isnull().sum()

Specie
Date           0
Country        0
City           0
aqi        83470
co         30320
mepaqi     86575
neph       86753
no2        11241
o3         12670
pm10       15432
pm25       17453
pol        86227
psi        86575
so2        25835
uvi        84753
dtype: int64

# 2015_H1

In [140]:
# Loading the data
raw_data_2015_H1 = pd.read_csv(r"/kaggle/input/complete-raw-median/waqi-covid19-airqualitydata-2015H1.csv")

# print the shape
print(raw_data_2015_H1.shape)

#runs the first 5 rows
raw_data_2015_H1.head(10)

(388980, 5)

        Date Country    City Specie  median
0   1/6/2015      KR  Jeonju     co     4.5
1  1/22/2015      KR  Jeonju     co     6.7
2  3/30/2015      KR  Jeonju     co     5.6
3  5/27/2015      KR  Jeonju     co     3.4
4   2/3/2015      KR  Jeonju     co     7.8
5  2/11/2015      KR  Jeonju     co     6.7
6  2/18/2015      KR  Jeonju     co     6.7
7   3/5/2015      KR  Jeonju     co     5.6
8  3/19/2015      KR  Jeonju     co     4.5
9   4/4/2015      KR  Jeonju     co     4.5

In [141]:
# Convert 'Date' to datetime
raw_data_2015_H1['Date'] = pd.to_datetime(raw_data_2015_H1['Date'])

In [142]:
raw_data_2015_H1.shape

(388980, 5)

In [143]:
# Pivot the data
data_df_2015_H1 = raw_data_2015_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='median',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [144]:
print(data_df_2015_H1.shape)
data_df_2015_H1.head()

(83090, 14)

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,pm25,psi,so2,uvi
0,2014-12-29,AT,Graz,NaN,0.1,NaN,NaN,9.0,NaN,13.0,NaN,NaN,1.6,NaN
1,2014-12-29,AT,Innsbruck,NaN,0.1,NaN,NaN,25.6,NaN,25.0,NaN,NaN,1.6,NaN
2,2014-12-29,AT,Linz,NaN,0.1,NaN,NaN,14.2,NaN,25.0,74.0,NaN,2.1,NaN
3,2014-12-29,AT,Salzburg,NaN,0.1,NaN,NaN,21.1,NaN,21.0,NaN,NaN,2.1,NaN
4,2014-12-29,AT,Vienna,NaN,0.1,NaN,NaN,9.0,NaN,20.0,65.0,NaN,2.6,NaN

In [145]:
data_df_2015_H1.isnull().sum()

Specie
Date           0
Country        0
City           0
aqi        80383
co         30736
mepaqi     82901
neph       82526
no2        12888
o3         14612
pm10       14221
pm25       18769
psi        82914
so2        24251
uvi        80809
dtype: int64

# **Combine 2015-2024**

In [146]:
data_2015_2024 = pd.concat([data_df_2015_H1, data_df_2016_H1, data_df_2017_H1, data_df_2018_H1,
                            data_df_2019_Q1, data_df_2019_Q2, data_df_2019_Q3, data_df_2019_Q4,
                            data_df_2020_Q1, data_df_2020_Q2, data_df_2020_Q3, data_df_2020_Q4,
                            data_df_2021_Q1, data_df_2021_Q2, data_df_2021_Q3, data_df_2021_Q4,
                            data_df_2022_Q2, data_df_2022_Q3, data_df_2022_Q4,
                            data_df_2023_Q1, data_df_2023_Q2, data_df_2023_Q3, data_df_2023_Q4,
                            data_df_2024], ignore_index=True)

In [147]:
data_2015_2024.shape

(1465292, 27)

In [148]:
data_2015_2024.isnull().sum()

Specie
Date                   0
Country                0
City                   0
aqi              1425087
co                543338
mepaqi           1462465
neph             1460620
no2               252644
o3                334264
pm10              270226
pm25              231892
psi              1464929
so2               454404
uvi              1436260
pol              1460334
d                1463261
humidity          353390
pm1              1459918
pressure          357472
temperature       352369
wd               1384106
wind-speed        415550
precipitation    1345013
wind-gust         857154
dew               616231
wind gust        1433527
wind speed       1415541
dtype: int64

In [149]:
data_2015_2024.head()

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,...,pm1,pressure,temperature,wd,wind-speed,precipitation,wind-gust,dew,wind gust,wind speed
0,2014-12-29,AT,Graz,NaN,0.1,NaN,NaN,9.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-29,AT,Innsbruck,NaN,0.1,NaN,NaN,25.6,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-29,AT,Linz,NaN,0.1,NaN,NaN,14.2,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-29,AT,Salzburg,NaN,0.1,NaN,NaN,21.1,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-29,AT,Vienna,NaN,0.1,NaN,NaN,9.0,NaN,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
# Find the minimum and maximum dates
min_date = data_2015_2024['Date'].min()
max_date = data_2015_2024['Date'].max()

print('Minimum date:', min_date)
print('Maximum date:', max_date)

Minimum date: 2014-12-29 00:00:00
Maximum date: 2025-01-09 00:00:00

In [151]:
import os

In [152]:
os.makedirs('/kaggle/working', exist_ok=True)
data_2015_2024.to_csv('/kaggle/working/data_2015_2024.csv')

**Combine 2021-2024**

In [153]:
data_2021_2024 = pd.concat([data_df_2021_Q1, data_df_2021_Q2, data_df_2021_Q3, data_df_2021_Q4,
                            data_df_2022_Q2, data_df_2022_Q3, data_df_2022_Q4,
                            data_df_2023_Q1, data_df_2023_Q2, data_df_2023_Q3, data_df_2023_Q4,
                            data_df_2024], ignore_index=True)

In [154]:
data_2021_2024.shape

(662769, 22)

In [155]:
data_2021_2024.isnull().sum()

Specie
Date                  0
Country               0
City                  0
aqi              645239
co               251274
dew              140286
humidity          11114
mepaqi           661454
neph             660060
no2              122469
o3               173372
pm1              659850
pm10             122450
pm25              92583
precipitation    585757
pressure          12664
so2              211625
temperature       10205
uvi              649793
wd               621519
wind-gust        309090
wind-speed        20055
dtype: int64

In [156]:
data_2021_2024.head()

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-12-28,AE,Abu Dhabi,NaN,0.1,11.0,55.0,NaN,NaN,15.1,...,100.0,34.0,NaN,1019.0,4.6,20.0,NaN,NaN,NaN,2.5
1,2020-12-28,AE,Dubai,NaN,NaN,8.0,45.0,NaN,NaN,NaN,...,NaN,63.0,NaN,1019.0,NaN,21.0,NaN,NaN,NaN,3.0
2,2020-12-28,AF,Kabul,NaN,NaN,-15.0,35.0,NaN,NaN,NaN,...,NaN,102.0,NaN,1019.0,NaN,-2.0,NaN,NaN,NaN,3.6
3,2020-12-28,AR,Buenos Aires,NaN,2.8,20.7,75.1,NaN,NaN,14.2,...,19.0,25.0,NaN,1012.0,NaN,25.8,NaN,90.0,13.0,5.6
4,2020-12-28,AT,Graz,NaN,0.1,-3.6,54.3,NaN,NaN,11.2,...,19.0,NaN,99.5,986.6,1.1,-0.3,NaN,NaN,2.3,1.0

In [157]:
# Find the minimum and maximum dates
min_date = data_2021_2024['Date'].min()
max_date = data_2021_2024['Date'].max()

print('Minimum date:', min_date)
print('Maximum date:', max_date)

Minimum date: 2020-12-28 00:00:00
Maximum date: 2025-01-09 00:00:00

In [158]:
os.makedirs('/kaggle/working', exist_ok=True)
data_2021_2024.to_csv('/kaggle/working/data_2021_2024.csv')